<% for(var i = 0; i < news.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td> <img width="50" src="<%= news[i].img  %> "> </img>  </td>
    <td><%= news[i].title %></td>
    <td><%= news[i].subTitle %></td>
    <td>
        <a href="/update-news?id=<%= news[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= news[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>